section.people
    .container
        +blockBox("Happy clients ","What people say")
        ul.people-list
            +peopleItem
            +peopleItem
            +peopleItem
            li.people-item
                img.people-avatar(src="../images/img-people4.png")
                .people-info
                    h3.people-name Matthew Div
                    span.people-job.text.text--alight Graphic Design
                    p.people-desc.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa nostrum eos aut neque, sint fuga natus delectus error repudiandae praesentium tempore accusantium officia inventore ea provident qui dignissimos! Laudantium, obcaecati!