section.quote
    .container
        .quote-container
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem
            +quoteItem
            .quote-item
                .quote-icon
                    img(src="../images/img-quote.png")
                .quote-info
                    p.quote-desc Lorem ipsum dolorLorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus a, optio natus officia velit incidunt esse pariatur adipisci at iusto dolore, odio quo excepturi sunt facilis sint repellendus cum quibusdam?
                    span.quote-author Jon Doe
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow

//- vì mặc định slcik có sẵn arrow rồi nên k cần.