section.team
    .container
        +blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque pariatur eveniet consequatur, eum temporibus officia, nesciunt rem, labore culpa beatae numquam maiores possimus minima. Autem nihil labore dolorem illum!")
        .team-list
            +teamItem("../images/img-team1.png")
                +teamSocial("Vanquy","block","block")
            +teamItem("../images/img-team2.png")
                +teamSocial("##","##","##")
            .team-item
                .team-main
                    img(src="../images/img-team3.png").team-image
                    .team-content
                        ul.team-social
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info
                    h3.team-name ChiristopherChiristopher Chiristopher ChiristopherChiristopherChiristopherChiristopher
                    span.team-position Brading/UX team

section.brand
    .container
        img(src="../images/img-logos.png" alt="brands")