section.quote
    .container
        .quote-container
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem("https://images.unsplash.com/photo-1648737154547-b0dfd281c51e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80",true)
            +quoteItem("https://images.unsplash.com/photo-1648737154547-b0dfd281c51e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80",true)
            +quoteItem("https://images.unsplash.com/photo-1648737154547-b0dfd281c51e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80",true)
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow

//- vì mặc định slcik có sẵn arrow rồi nên k cần.