section.wedo
    .container
        +blockBox("service","What we do"," Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem tenetur ipsam quas fuga nisi sunt sed, incidunt soluta modi eaque eligendi. Iusto repellat quos, quas sequi quasi iste consectetur quae.")
        .wedo-container
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content
                +wedoItem("../images/img-wedo-icon1.png","Photography","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?","is-active")
                +wedoItem("../images/img-wedo-icon2.png","Creativity","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?")
                .wedo-item
                    .wedo-item-header
                        img(src="../images/img-wedo-icon3.png").wedo-item-icon
                        h3.wedo-item-title Web design
                        i.fal.fa-angle-down.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quidem harum eius, reprehenderit ut, nesciunt eos maiores ex libero et soluta ducimus cum assumenda ea distinctio impedit explicabo unde?
                
            //- accordion
            //-nếu i.fal.fa thì nó mỏng hơn 