// những layout chung ,những class chung chung
.wrapper {
    max-width: $wrapper;
    margin: 0 auto;
}
.container {
    // làm xong kiểm tra.bỏ padding 15 thửu có dính sát lề k.
    max-width: $container + 30px;
    margin: 0 auto;
    padding: 0 15px;
}
.block-box {
    // để ở đây vì mấy dưới còn dùng.. nếu scss ở about thì dưới k xài dc.
    text-align: center;
    max-width: 96rem;
    margin: 0 auto;
    &-caption {
        font-family: $third-font;
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    &-heading {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3.5rem;
        padding-bottom: 3.5rem;
        position: relative;
    }
    &-heading::after {
        content: "";
        width: 6.5rem;
        height: 0.4rem;
        background-color: $primary-color;
        @include absoluteCenter();
        bottom: 0;
    }
    &-desc {
        font-size: 1.5rem;
        font-family: $secondary-font;
        color: $text-color;
        line-height: 1.4;
        font-weight: 300;
        margin-bottom: 10rem;
    }
    @include maxWidth(767px) {
        &-caption {
            font-size: 2rem;
        }
        &-heading {
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
            padding-bottom: 2.5rem;
        }
        &-desc {
            font-size: 1.4rem;
            margin-bottom: 4rem;
        }
    }
}
